/* contents */
.contents {
    /* padding: calc(70px + 94px) 150px; */
    padding: calc(50px + 20px) 90px;
    max-width: 1375px;
    margin: auto !important;
}
.content img {
    width: 100%;
    object-fit: cover;
    height: fit-content;
}
.content span {
    font-size: 18px;
}
/* contents end */

@media (max-width: 600px) {
    .contents {
        padding: 150px 30px;
    }
}
