.wrapper {
    height: auto;
    padding-bottom: 5rem;
}
.banner-wrapper {
    height: 500px;
    background-image: url("../img/banner.png");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 6rem 0;
}
.content {
    margin-top: -350px;
    background-color: white;
    border: 1px solid #cbcbcb;
    border-radius: 16px;
    padding: 6rem;
}
.bi-geo-alt-fill,
.bi-briefcase-fill,
.work-type {
    color: #233dff;
}
.afeksi-description {
    color: #717171;
    padding-bottom: 2rem;
    border-bottom: 1px solid #595959;
}
.content ul > li {
    padding: 8px;
}
button.daftar {
    width: 100%;
    background-color: #233dff;
}
label.col-form-label {
    font-weight: 600;
}
select#pekerjaan {
    padding: 0.5rem;
}
.upload-file-wrapper {
    cursor: pointer;
}
label.upload-file {
    width: 100%;
    color: #667085;
    cursor: pointer;
    border: 1px solid #d0d5dd;
    border-radius: 8px;
    padding: 0.5rem 0.5rem;
}
input#upload-file {
    opacity: 0;
    cursor: pointer;
    margin-top: -35px;
    margin-left: 10px;
    z-index: 1;
    cursor: pointer;
}
.bi-plus-circle-fill {
    color: #233dff;
}
@media screen and (max-width: 992px) {
    ul > li {
        padding: 3px;
    }
    .content {
        padding: 2rem;
    }
    .info-utils p {
        margin-top: 3px;
        font-size: 0.7rem;
    }
}
@media screen and (max-width: 576px) {
    .bread-crumbs {
        font-size: 0.7rem;
    }
}
