* {
    text-decoration: none !important;
}

:root {
    --swiper-navigation-size: 25px !important;
    --swiper-theme-color: blue !important;
}

/* Hero */
.btn-konsultasi:hover {
    background-color: #fff !important;
    color: #233dff !important;
    transition: 0.5s ease-in-out;
}

.btn-learn:hover {
    background-color: #fff !important;
    color: #ffd34e !important;
    transition: 0.5s ease-in-out;
}
/* Hero End */

/* Layanan Konsultasi  Start*/
.btn-pilih {
    font-size: 14px;
    color: #fff;
    background-color: #233dff;
    padding: 8px 30px;
    border: none;
    border-radius: 10px;
}

.btn-pilih:hover {
    background-color: #4e63ff;
}
/* Layanan Konsultasi End */

/* Profil Psikolog dan Konselor */
.btn-selengkapnya:hover {
    background-color: #4e63ff !important;
}
/* Profil Psikolog dan Konselor */

/* Tanya Admin Start */
.btn-tanya {
    color: #233dff;
    padding: 10px 30px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background-color: #fff;
}

.btn-tanya:hover {
    background-color: #233dff;
    color: #fff;
}
/* Tanya Admin End */

/* caurosel */
.contents {
    padding: 0 100px;
}

.slide-container {
    height: fit-content;
}

.slide-container h2 {
    color: blue;
    margin-bottom: 10px;
    font-size: 30px;
}

.slide-container p {
    color: rgb(92, 92, 92);
}

.swiper-slide {
    margin-top: 50px;
    background: var(--secondary);
    overflow: visible;
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 100px;
    border: 1px solid rgb(214, 213, 213);
}

.swiper-slide span {
    font-size: 14px;
}

.slide-container .swiper-pagination-bullet {
    height: 5px;
    background-color: rgb(251, 223, 13);
    opacity: 1;
}

.slide-container .swiper-pagination-bullet-active {
    width: 25px;
    height: 5px;
    border-radius: 5px;
}

.s-btn {
    padding: 17px;
    border-radius: 5px;
}

.swiper-button-next {
    position: absolute !important;
    top: 35px !important;
    background-color: blue;
    color: white !important;
    border: 3px solid blue;
}

.swiper-button-prev {
    position: absolute !important;
    top: 35px !important;
    left: 91.7% !important;
    border: 3px solid blue;
}

@media (max-width: 1000px) {
    .contents {
        padding: 0 30px;
        text-align: center;
    }

    .swiper-button-next {
        display: none !important;
    }

    .swiper-button-prev {
        display: none !important;
    }
}
