#lupa-password{
    height: 100vh;
    background-image: url('./assets/img/lupa-password-background-2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.navbar-brand{
    margin-left: 3rem;
}
.wrapper{
    width: 450px;
    height: 70vh;
}
.btn {
    background-color: #233dff !important;
    color: white !important;
    width: 100%;
}
.wrapper p{
    text-align: justify;
}
.user-email{
    font-weight: bold;
}
.input-container{
    width: 100%;
}
.input-container .next-btn{
    font-weight: bold;
    width: 100%;
    border-radius: 8px;
    color: white;
}
.input-container .back-btn{
    text-decoration: none;
    color: #9AA2B1;
    width: 100%;
}

@media screen and (max-width: 576px) {
    .navbar-brand{
        padding: 0;
        margin-left: -20px;
    }
    .wrapper{
        width: 300px;
    }
}